
MicroserviceDiscoveryServer/\.settings/

MicroserviceDiscoveryServer/\.classpath

MicroserviceDiscoveryServer/\.project

ProfileMicroserviceConsumer/\.project

ProfileMicroserviceProducer/\.project

ProfileMicroserviceProducer/\.classpath

ProfileMicroserviceProducer/\.settings/

ProfileMicroserviceConsumer/\.settings/

ProfileMicroserviceConsumer/\.classpath
